@use "./../utils/" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: none;
}

.logo {
  margin: 0.5rem 0;
  width: 40px;
  height: auto;
}

#header-content {
  @include flex-row($justify: space-between);
  flex: 1 1 auto;
  padding: 0 1rem;
  background-color: $bg-color;

  .header__left,
  .header__right {
    @include flex-row($align: center);
  }

  .header__nav {
    display: none;
  }
}

#subheader-content {
  @include flex-row();
  padding: 0.25rem 1rem;
  background-color: $bg-dark-color;

  .subnav__list {
    @include flex-row($align: center);

    li {
      list-style: none;

      a {
        color: #fff;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  #header-content {
    .header__nav {
      @include flex-row($gap: 0);
      height: 100%;

      li {
        @include flex-row($align: center);
        list-style: none;
        height: 100%;
        padding: 0 0.5rem;

        &:hover {
          background-color: $primary-color;
          cursor: pointer;

          a {
            color: #fff;
          }
        }

        a {
          color: #000;
        }
      }

      #a-certificates {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #header-content {
    .header__nav {
      #a-certificates {
        @include flex-row($align: center);
      }
    }
  }
}
