@use "./../utils/mixins" as mix;
@use "./../utils/variables" as vars;

.main-content {
  @include mix.flex-column($gap: vars.$base);
  flex: 1;
  padding: vars.$base;
}

.nav-controls {
  @include mix.flex-row($justify: space-between, $align: center);
  padding: 0;
}

.content-block {
  @include mix.flex-column($gap: vars.$base);
  background-color: vars.$secondary-color;
  border-radius: calc(vars.$base / 2);
  padding: vars.$base;
}