* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(243, 243, 243);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column; /* WARNING! Column witll invert the main and secondary axix */
  /* justify-content: center; Allows align items in the main axis */
  align-items: center; /*Allows align items in the secondary axis */
}

.form {
  display: flex;
  flex-flow: column wrap;
  width: 75vh;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #ffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(23, 5, 121);
}

input:placeholder-shown {
  font-style: italic;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #ff9900;
}

.button {
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #fd9206;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #cc6d00;
}

a {
  text-align: end;
  color: rgb(44, 10, 194);
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 224, 103);
}

footer img {
  width: 10rem;
}

footer p {
  color: white;
}
