@use "./../utils/" as *;

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: $bg-color;
}

body {
  @include flex-column($gap: 0);
  min-height: 100vh;
}

.wrapper {
  @include flex-column($gap: 0);
  flex: 1 1 auto;
  min-height: 0;
}

.ico {
  width: 1rem;
  height: 1rem;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: $bp-lg) {
  .wrapper {
    @include flex-row($gap: 0);
    height: 100%;
  }
}
